@robotoFont : 'Roboto', 'Quark', Arial, Tahoma, 'Sans-serif';
@defaultFont : Arial, Tahoma, 'Sans-serif';

@font-face {
  font-family : 'Quark';
  src : url('../font/Quark/Quark-Light.otf');
}

@font-face {
  font-family : 'Quark';
  src : url('../font/Quark/Quark-Bold.otf');
  font-weight: bold;
}

body {
  font-family: @defaultFont;
  background: #212121;
  color: #FFF;
}

.header-wrapper {
  background-color: #09a1d3;
  padding: 50px;
}

section {
  * {
    color: #FFF;
  }
  &.website {
    background-color: #551506;
  }
  &.project {
    background-color: #fca611;
    * {
      color: #431503;
    }
    @media ( min-width:40.0625em ) {
      .image-container {
        min-height: 330px;
      }
    }
  }

  h3 {
    font-family: @robotoFont;
    font-weight: bold;
    .fa {
      font-size: 1.5rem;
    }
  }
  .grid-pic {
    div {
      margin-top: 10px;
      margin-bottom : 5px;
    }
    text-align: center;
    .image {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center;
      margin-bottom: 7px;
      box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    strong {
      font-family: @robotoFont;
      font-size: 1.25rem;
    }
  }
  .container {
    padding: 20px;
  }
}

header {
  * {
    color: #FFF;
  }
  h2 {
    font-family: @robotoFont;
  }
  .description {
    font-size: 1rem;
  }
  .sharing {
      margin: 17px 0px;
      a {
        color: #FFF;
        font-size: 2.5rem;
        margin: 0px 2px;
        padding: 5px;
      }
  }
}

footer {
  font-size: 0.75rem;
  padding: 7px;
  color: #999;
}
